.intro {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 7%;
    font-family: 'Open Sans:300', sans-serif;

}
.intro img {
    border-radius: 50%;
    max-width: 15%;
    max-height: 15%;
    border: 7px solid white
}
body {
    background-color:#0a1925;
}
.link-cinza {color: rgb(197, 197, 197);
}

a {
    color: white
}

.lista-linha {
    padding-left: 0;
    list-style: none;
}
.lista-linha li{
    display: inline-block;
}
.espaco-direita {
    margin-right: 1%;
}

.espaco-esquerda {
    margin-left: 1%;
}